<!DOCTYPE html>
<html>
  <head>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="./send.js" ></script>
    <meta charset="utf-8">
    <title>MNIST</title>
</head>
<body bgcolor="#c8cbd1">
  <canvas id="canvas" style="border:1px solid hsl(0, 0%, 0%); padding: 0; margin: auto; display: block;"></canvas>
  <input type="button" value="Dectecter le nombre" onclick="sendPicture()" style="padding: 10; margin: auto ; margin-top: 10px; display: block;">
  <input type="button" value="Effacer" onclick="clearNumber()" style="padding: 10; margin: auto ; margin-top: 10px; display: block;">
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <script src="./canvas.js"></script>
</body>
</html>
